/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

 /* GENERIC */ 
body{
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  
  background-color: #ff6800;
  color: white;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #9e9e9e;
  box-shadow: 0px 0px 10px #9e9e9e;

  z-index: 2;
}

header a{
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  padding: 0 6px;
}
 
ul {
  list-style-type: none;
}

 nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-col{
  display: flex;
  flex-wrap: wrap;
}

/* Color */
.bg-red{
  background-color: red;
}
 
.bg-green{
  background-color: green;
}

.bg-dark{
  background-color: #1a1a1a;
}

.color-red{
  color: red;
  font-weight: 600;
}
 
.text-canceld{
  text-decoration: line-through;
}

/* HEADER */
/* Menu */
.menu{
  width: 20%;
}

.menu-list{
  display: flex;
  justify-content: flex-start;
}

 /* Logo */
.logo{
  width: 60%;
  display: flex;
  justify-content: center;
}

.logo img{
  width: 140px;
}

/* Icon */
.icons{
  width: 20%;
  text-align: right;
}

/* MAIN */
main {
  margin-top: 130px;
}

.col{
  width: calc(100% / 3);
}

.card{
  position: relative;
 padding: 8px;
}

/* Img */
.hover-effect{
  position: relative;
  left: 0;
  top: 0;
}

.hover-effect img.img-hover{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.hover-effect:hover img.img-hover{
  opacity: 1;
}

.img-tag{
  position: absolute;
  color: white;
  left: 8px;
  bottom: 120px;
}

.img-tag span{ 
  padding: 5px 5px;
}

.heart{
  background-color: white;
  font-size: 40px;
  color: black;
  position: absolute;
  right: 8px;
  top: 20px;
  padding: 5px 15px;
}

.card h3{
  font-weight: 100;
  font-size: 17px;
}

.card h2{
  font-size: 18px;
  text-transform: uppercase;
}

/* FOOTER */

footer{
  color: white;
}
.footer-col{
  width: calc(100% / 2);
}

footer .flex-col{
  padding: 20px 0;
  margin-top: 50px;
}

footer h3{
  margin: 10px 0 10px 0;
}

.footer-list{
  display: flex;
  justify-content: flex-start;
}

.footer-list li{
  padding-right: 10px;
}

.footer-list li a{
  text-decoration: none;
  color: inherit;
}